<% provide(:title, "Home")%>
<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>This is a helper function</h2>
<p><%= get_season() %></p>

<h2>This is another helper function</h2>
<p><%= get_random_number(999999999) %></p>

<h2>Another helper function</h2>
<p><%= get_random_phrase() %></p>

<h2>The last helper function, I swear</h2>
<p><%= count_to_20() %></p>

